/* Media queries */
@media screen and (min-width: 768px) {

    // NAVBAR 
    .mobile-donate-button {
        display: none;
    }

    .show-mobile-menu-button {
        display: none;
    }

    #topnav {
        height: 100px;
    }

    #logo {
        width: 150%;
        height: 65px;
        padding-left: 12px;
        margin-top: 10px;
    }

    #topnav a {
        text-decoration: none;
        font-size: 18px;
        margin: 0px !important;
        width: 12%;
    }

    #menu li {
        display: inline-block;
        margin-right: 32px;
    }


    #menu {
        display: flex;
        align-items: center;
        width: 77%;
        font-family: 'Quicksand';
        font-weight: 400;
        padding-right: 0px;
        margin-left: 45px;
    }

    #menu-container {
        display: none;
    }

    .donate-link {
        padding: 3px 5px 3px 5px;
        margin-top: 0px !important;
    }

    // SEARCH BAR
    .search-icon {
        color: $darkpink;
        margin-right: 33px;
        font-size: 18px;
        padding-top: 5px;
    }

    #search-form {
        background: whitesmoke;
        border-bottom: 2px solid whitesmoke;
        text-align: center;
        width: 100%;
    }

    #search-bar {
        width: 50%;
        border-radius: 0px;
        border: none;
        background-color: transparent;
        border-bottom: 1px solid $darkpink;
        height: 25px;
        font-family: "Noto Sans", sans-serif;
        font-size: 20px;
        padding-left: 10px;
    }

    .desktop-search-icon {
        color: $darkpink;
    }

    .desktop-search-icon-clicked {
        color: $darkpink;
        font-size: 16px;
    }

    input:focus {
        outline: none;
    }

    // FOOTER 
    #footer {
        width: 100vw;
        height: auto;
        background: whitesmoke;
        display: flex;
        flex-wrap: wrap;
    }

    .footer-links-box {
        width: 100%;
        height: auto;
        text-align: center;
        margin-bottom: 8px;
        margin-top: 8px;
    }

    .footer-link {
        color: black;
        font-family: $quicksand;
        padding: 5px;
        font-size: 15px;
    }

    .footer-donate {
        color: $darkpink;
    }

    .footer-logo-box {
        width: 100%;
        display: flex;
        height: auto;
        margin-bottom: 15px;
    }

    .logo-container {
        width: 50%;
        height: 60px;
        align-items: center;
        display: flex;
    }

    .facebook-container {
        width: 50%;
        height: 60px;
        align-items: center;
        display: flex;
    }

    .footer-logo {
        width: 20%;
        height: auto;
        padding-left: 77%;
    }

    .facebook-logo {
        width: 50%;
        height: auto;
        padding-left: 25%;
        padding-top: 4px;
    }



    // HOME PAGE 
    .white-section {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        -webkit-box-align: start;
        -moz-box-align: start;
        -ms-flex-align: start;
        -webkit-align-items: flex-start;
        align-items: flex-start;
    }

    .whiteimage-box {
        width: 25%;
        padding-top: $large-padding;
        padding-right: $large-padding;
        padding-bottom: $large-padding;
        padding-left: 35px;
    }

    .whitetext-box {
        width: 60%;
        padding: $large-padding;
    }

    .white-section .whitetext-box {
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
    }

    .white-section .whiteimage-box {
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
    }

    .empower-women-image {
        width: 180px;
        height: 170px;
    }

    .welcome-title {
        font-size: 20px;
        padding: $med-padding;
    }

    .welcome-body-text {
        font-family: $noto;
        padding-left: $med-padding;
        padding-right: $med-padding;
        padding-bottom: $med-padding;
        font-size: 17px;
    }

    .findoutmore-button {
        width: 125px;
        height: 40px;
        padding: 6px;
        font-size: 16px;
        font-weight: 600;
        float: left;
        margin-left: 15px;
    }

    .endorsements-title {
        font-size: 20px;
    }

    .endorsement-text {
        font-size: 17px;
        width: 85%;
    }

    .endorsement-number {
        font-size: 18px;
        width: 5%;
        padding-left: 35px;
    }

    .endorsement-container {
        padding-bottom: 20px;
    }

    // TESTIMONIALS 
    .testimonial-boxes-container {
        margin-bottom: 15px;
    }

    .testimonials-header {
        font-size: 20px;
    }

    .testimonials-subheader {
        font-size: 17px;
    }

    .testimonial-box {
        width: 80%;
        padding: 20px;
    }

    .testimonial-text {
        font-size: 17px;
    }

    .testimonial-author {
        font-size: 15px;
    }

    // ABOUT US PAGE 
    .aboutus-header {
        font-size: 20px;
        padding: $large-padding;
        color: $darkpink;
        font-family: $quicksand;
    }

    .aboutus-header-subtext {
        font-size: 17px;
        padding-left: $large-padding;
        padding-right: $large-padding;
        padding-bottom: $large-padding;
        font-family: $noto;
        line-height: 25px;
    }

    .aboutus-titles {
        font-size: 20px;
        color: $darkpink;
        padding: $large-padding;
        font-family: $quicksand;
    }

    .aboutus-text {
        font-size: 17px;
        padding-left: $large-padding;
        padding-right: $large-padding;
        padding-bottom: $large-padding;
        font-family: $noto;
        line-height: 25px;
        display: flex;
    }

    .aboutus-images {
        width: 30%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-left: 40px;
        padding-right: 10px;
    }

    .item:nth-child(2) {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        -webkit-box-align: start;
        -moz-box-align: start;
        -ms-flex-align: start;
        -webkit-align-items: flex-start;
        align-items: flex-start;

        .post-text {
            -webkit-box-ordinal-group: 2;
            -moz-box-ordinal-group: 2;
            -ms-flex-order: 2;
            -webkit-order: 2;
            order: 2;
        }

        .aboutus-images {
            -webkit-box-ordinal-group: 1;
            -moz-box-ordinal-group: 1;
            -ms-flex-order: 1;
            -webkit-order: 1;
            order: 1;
            padding-left: 10px;
            padding-right: 40px;
        }

        .aboutus-titles {
            width: 93%;
            text-align: right;
        }
    }

    // WHAT WE OFFER PAGE 
    .offer-boxes-container {
        padding-top: 10px;
        padding-bottom: 30px;
        width: 100%;
        height: auto;
    }

    .whatweoffer-header {
        font-size: 40px;
        padding: 10px;
        margin-top: -130px;
        width: 55%;
    }

    .offer-title {
        font-size: 20px;
    }

    .offer-caterogy {
        font-size: 17px;
    }

    .offer-content {
        font-size: 17px;
        padding-bottom: 15px;
        line-height: 25px;
    }

    .whatweoffer-images-box {
        padding-bottom: 30px;
    }

    .wwo-images {
        width: 200px;
        height: auto;
    }

    #offer-title-box {
        padding-top: 20px;
        padding-bottom: 15px;
        font-size: 25px;
    }

    .offer-image {
        width: 85%;
    }

    .rendered-offers-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
    }

    .offer-item-clicked {
        width: 25%;
        height: auto;
        background: $peach;
        margin: 30px;

    }

    #back-button {
        width: 10%;
    }

    .offer-caterogy-clicked {
        padding-left: 30%;
    }

    // GET IN TOUCH PAGE 
    .pink-orange-box-container {
        width: 100%;
        height: auto;
        display: flex;
    }

    .getintouch-header {
        font-size: 20px;
        padding: $large-padding;
    }

    .getintouch-text {
        font-size: 17px;
        padding-left: 22px;
        padding-right: 22px;
        padding-bottom: 22px;
        line-height: 25px;
    }

    .openhours-header {
        font-size: 20px;
        padding: $large-padding;
    }

    .openhours-text {
        font-size: 17px;
        padding-left: 22px;
        padding-right: 22px;
        padding-bottom: 22px;
        line-height: 25px;
    }

    .form-map-container {
        width: 100%;
        height: auto;
        display: flex;
    }

    .form-container {
        padding-bottom: 22px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .contactform-header {
        font-size: 20px;
        padding: 22px;
    }

    form {
        padding-left: 25px;
    }

    .mapboxgl-map {
        font: 12px/20px Helvetica Neue, Arial, Helvetica, sans-serif;
        /* overflow: hidden; */
        position: relative;
        width: 100%;
        height: 455px;
    }

    .marker {
        padding: 20px;
    }

    // DONATE PAGE
    .donations-header-box {
        margin-top: -190px;
        margin-bottom: 80px;
    }

    .donations-header-pink,
    .donations-header-orange {
        font-size: 20px;
    }

    .donation-headers {
        width: 65%;
    }

    .donations-header {
        font-size: 30px;
        padding-left: 45px;
        margin-bottom: 10px;
    }

    .donations-subheader {
        padding-left: 45px;
        font-size: 23px;
    }

    .donate-box {
        width: 19%;
    }

    .donation-body-text {
        font-size: 17px;
        line-height: 25px;
    }

    .donation-image-box {
        margin-top: -20px;
    }

    .donating-text-container {
        margin-bottom: 40px;
    }

    // DONATE MODAL 
    #modals-box {
        width: 114vw;
    }

    #modal {
        top: 175px;
    }

    #close-modal {
        font-size: 35px;
    }


    .modal-header {
        font-size: 20px
    }

    .modal-content {
        font-size: 17px;
    }
}

@media screen and (min-width: 769px) {
    .findoutmore-button:hover {
        cursor: pointer;
        background-color: $peach;
        color: $orange;
        border: 2px solid $orange;
    }
}