// colours

$grey: #F5F5F5;
$peach: #FCECDE;
$darkpink: #E9418B;
$lightpink: #FFEBF5;
$orange: #F4A15A;

// spacing

$large-padding: 22px;
$med-padding: 15px;
$small-padding: 10px;

// fonts

$quicksand: 'Quicksand', sans-serif;
$noto: 'Noto Sans', sans-serif;